body{
    margin: 0;
    background-color: #333333;
    font-family: Helvetica, "Courier New", sans-serif;
}
body h1,h2{
    font-family: Tahoma, Helvetica, "Courier New";
}
h1{
    color:#EAC435;
    /* color: #CFCFCF; */
}
h2{
    color: #B70D01;
    /* color: #CFCFCF; */
}
header{
    width: 100%
}
.fix{
    display: grid;
    grid-template-columns: 300px auto;
    background-color: #555555;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}
.logo{
    width: 300px;
}
nav{
    display: flex;
    font-size: 1.5em;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: #8A95A5;
    /* color: #CFCFCF; */
    padding:10px;
    min-width: 120px;
    text-decoration: none;
    margin-top: 40px;
}
nav a:hover{
    background-color: #1F1F1F;
    color: #EAC435;
}
#hero{
    text-align: center;
}
#hero-img{
    width: 100%
}
#hero-msg{
    text-align: left;
    color: #EAC435;
    font-size: 2.5em;
    padding-left: 10px;
}
p{
    color:#8A95A5;
   /* color: #CFCFCF; */
}
.lowz{
    z-index: 1;
}
.padtitle{
    padding-top: 5%;
    padding-left: 1%;
}
.halfnhalf{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    padding-left: 10px;
}
.musichalf{
    display: grid;
    margin: 5% auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    width: 95%;
}
.lineone{
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1.5em;
}
.linetwo{
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 1.5em;
}
.linethree{
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 1.5em;
}
.fortimg{
    width: 100%
}
.piccy{
    grid-column: 2/3;
    grid-row: 1/3;
}
#meboolin{
    grid-column: 2/3;
    grid-row: 1/4;
}
#sanraf{
    grid-column: 2/3;
    grid-row: 1/4;
}
#hopefullyfixing{
    padding-top: 15%;
    grid-column: 1/2;
    grid-row: 2/3;
}
footer{
    background-color:#555555;
    color:#8A95A5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
    padding: 10px;
}
footer a{
    color: #8A95A5;
    /*color: #CFCFCF;*/
    text-decoration: none;
    padding: 10px; 
}
footer a:hover{
    background-color:#1F1F1F;
    color:#EAC435;
}